:root {
  --bs-light-rgb: 248, 249, 250, 0.3;
  --main-color: #fffbf8;
  --secondary-color: #fbe4cf;
  --acent-color: #ee8b30;
  --gradient-color: linear-gradient(
    0deg,
    rgba(254, 244, 236, 1) 50%,
    rgba(238, 139, 48, 1) 100%
  );
  --font-color: #231203;
  --font-family-heading: "Julius Sans One", sans-serif;
  --font-family-body: "Poppins", sans-serif;
}

body {
  font-family: var(--font-family-body);
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  background-color: var(--main-color);
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

hr {
  margin: 0 0 50px;
  border-top: 4px solid var(--acent-color);
}

h3 {
  font-weight: 700;
  font-family: var(--font-family-heading);
}

.line {
  background: linear-gradient(
    0deg,
    rgba(238, 139, 48, 1) 20%,
    rgba(254, 244, 236, 1) 80%
  );
  height: 25px;
  width: auto;
  border-radius: 10px;
  margin: 0 20%;
}
/*///////////////////////////////===== Cursor ======//////////////////////////////////////////////////////////////*/

.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  background-color: #fff;
  height: 36px;
  width: 36px;
  z-index: 99999;
}
.hover {
  transform: scale(2) translateX(-25%) translateY(-25%);
  border: none;
  background: #fff;
  filter: drop-shadow(16px 16px 10px black) invert(1);
  -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
}

@media screen and (max-width: 1200px) {
  .cursor {
    display: none;
  }
}

/* ============================================ ARROW TO TOP =========================================*/

.button-backtotop {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid black;
  line-height: 1.4;
  text-decoration: none;
  position: fixed;
  cursor: pointer;
  bottom: 16px;
  right: 16px;
  left: auto;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s linear;
  color: black;
  opacity: 1;
}

/*////////////////////////////////////////////////// CALL ACTION //////////////////////////////////////*/

.call-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  margin: 80px 0 50px;
}

.label {
  font-family: var(--font-family-heading);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.8rem;
  text-align: center;
  letter-spacing: 2px;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  width: 250px;
  height: 40px;
  font-weight: bold;
  border: none;
  border-bottom: 5px solid #b46436;
  transition: 0.3s;
  background: linear-gradient(
    90deg,
    rgba(254, 244, 236, 1) 0%,
    rgba(238, 139, 48, 1) 41%
  );
  border-radius: 8px;
  box-shadow: 0 9.686px 9.686px 0 rgba(0, 0, 0, 0.25);
  padding: 30px 18px;
}

.action-btn:hover {
  border-bottom-width: 0;
  transform: translateY(5px);
}

@media screen and (max-width: 580px) {
  .call-action .label {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .call-action {
    gap: 10px;
  }
  .action-btn {
    font-size: 1.1rem;
  }
}



/*///////////////////////////////===== Hero Section ======/////////////////////////////////////////////////////////////*/

.hero-section {
  margin-top: 130px;
}

.hero-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.hero-section .title {
  color: #fff;
  background: var(--main-color) url("./images/Polygon 1.png") no-repeat center;
  font-size: 6rem;
  font-family: var(--font-family-heading);
  line-height: 1;
  font-weight: 900;
  text-shadow: 2px 2px 4px #000;
  padding: 30px;
}

.hero-image {
  width: 650px;
  height: 460px;
  border-radius: 3px;
  box-shadow: 0 9.686px 9.686px 0 rgba(0, 0, 0, 0.25);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  top: 0;
  min-width: 100%;
  min-height: 75px;
  padding: 20px 32px;
  border-bottom: 1px solid #dedede;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  width: 200px;
  height: 40px;
  font-weight: bold;
  border: none;
  border-bottom: 5px solid #b46436;
  transition: 0.3s;
  background: rgb(254, 244, 236);
  background: linear-gradient(
    90deg,
    rgba(254, 244, 236, 1) 0%,
    rgba(238, 139, 48, 1) 41%
  );
  border-radius: 8px;
  box-shadow: 0 9.686px 9.686px 0 rgba(0, 0, 0, 0.25);
  padding: 20px 0;
  margin-left: 30px;
}

.nav-btn:hover {
  border-bottom-width: 0;
  transform: translateY(5px);
}

.nav-btn a {
  color: #fff;
}

.menu {
  display: flex;
}

.nav-links a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--font-color);
  letter-spacing: 2px;
  padding: 0 30px;
  cursor: pointer;
}

.logo-mobile {
  display: none;
}
.menuIcon {
  display: none;
}

.fullpageMenu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 9998;
}

.fullpageMenu.active {
  left: 0;
}

.fullpageMenu .fullNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: var(--secondary-color)
    url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.fullpageMenu .fullNav ul {
  position: relative;
  padding: 0;
  font-family: var(--font-family-heading);
}

.fullpageMenu .fullNav ul li {
  position: relative;
  list-style: none;
  overflow: hidden;
  display: table;
  padding: 0 20px;
  margin: 10px 0;
}

.fullpageMenu .fullNav ul li a {
  color: var(--font-color);
  position: relative;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  padding: 18px 0;
  display: inline-block;
  text-transform: uppercase;
}

.fullpageMenu .fullNav ul li .home-link {
  font-size: 1rem;
  padding: 30px 0;
  text-transform: lowercase;
  font-family: var(--font-family-body);
  font-weight: normal;
}

.fullpageMenu .fullNav ul li:hover {
  border-bottom: 2px solid black;
  animation: myAnim 2s;
}

@keyframes myAnim {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 970px) {
  .menuIcon {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-image: url("./images/icons/material-symbols--menuBlack.svg");
    background-size: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 10px;
    z-index: 2;
  }

  .menuIcon.active {
    background-color: var(--secondary-color);
    background-image: url("./images/icons/material-symbols--close.svg");
    background-size: 40px;
    cursor: pointer;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 10px;
    z-index: 9999;
  }

  .nav {
    display: none;
  }

  .logo-mobile {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .hero-section {
    justify-content: center;
  }

  .hero-section .title {
    font-size: 5rem;
    line-height: 1.2;
    margin-top: 30px;
    background-image: url("./images/Polygon-mobile.png");
  }
}

@media screen and (max-width: 580px) {
  .hero-section .title {
    font-size: 3rem;
  }
  .menuIcon {
    right: 5px;
  }
  .hero-section {
    margin-top: 80px;
  }
}

/*///////////////////////////////===== Carrusel Logo ======/////////////////////////////////////////////////////////////*/

#carrusel {
  margin: 80px auto 80px;
  padding: 20px 0;
  -webkit-box-shadow: 0px 0px 48px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 48px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 48px -2px rgba(0, 0, 0, 0.75);
  background-color: #fff;
}

#carrusel h3 {
  margin: 0 60px 10px;
  font-family: var(--font-family-heading);
}

.carousel-logo div {
  margin: 0 20px;
}
.slide img {
  max-width: 100%;
  height: auto;
}

.dot {
  display: none;
}

@media screen and (max-width: 580px) {
  .carousel-logo {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active {
    background-color: var(--acent-color);
  }
  .slide {
    animation-name: fade;
    animation-duration: 1.5s;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*///////////////////////////////////////======= Sections ==========///////////////////////////////////////////////////*/

.proyectos-title {
  font-family: var(--font-family-heading);
  font-size: 2rem;
  font-weight: 700;
  margin: 30px;
}

.cocinas-section,
.baños-section {
  margin: 10px 20px 50px;
}
.cocinas-section img,
.baños-section img {
  margin-top: 50px;
  max-width: 100%;
  display: block;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.cocinas-section h4,
.baños-section h4 {
  font-size: 1.5rem;
  font-family: var(--font-family-heading);
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 1px;
  color: #222222;
  margin-top: 50px;
  text-transform: uppercase;
}
.cocinas-section p,
.baños-section p {
  line-height: 1.7;
  letter-spacing: 1px;
  color: #222222;
}

@media screen and (max-width: 580px) {
  .cocinas-section h3,
  .baños-section h3 {
    font-size: 2rem;
  }

  .cocinas-section p,
  .baños-section p {
    font-size: 14px;
  }
}

/* ============================================ CLIENTES =================================*/

#comentarios {
  padding: 150px 0 10px;
  -webkit-box-shadow: 0px 0px 48px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 48px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 48px -2px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  margin: 100px auto;
  width: 100%;
}

.ellipse {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 30px auto;
}
#comentarios h3 {
  margin: 20px auto 50px;
  font-family: var(--font-family-heading);
}
#comentarios p {
  min-width: 150px;
}

.client {
  -webkit-box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.75);
  border-radius: 100px 8px 20px 8px;
  padding: 20px 20px 0;
  height: 360px;
  width: 360px;
  background: rgb(254, 244, 236);
  background: linear-gradient(
    0deg,
    rgba(254, 244, 236, 1) 50%,
    rgba(238, 139, 48, 1) 100%
  );
}

.arrow-container {
  margin-top: 20px;
  display: none;
}

.arrow {
  cursor: pointer;
  margin: 10px;
}

@media screen and (max-width: 530px) {
#comentarios {
  padding: 50px 0 10px;
}
}


/* =========================================== SERVICIOS =========================================*/

#servicios {
  margin: 150px auto;
}
.servicios-title {
  text-align: center;
  margin: 50px auto;
  font-family: var(--font-family-heading);
}

.servicio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 80px auto 50px;
}

.servicio-text {
  flex-basis: 500px;
}

.servicio-text h4 {
  font-family: var(--font-family-heading);
}

.servicio img {
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 980px) {
  .servicio {
    justify-content: center;
    margin-top: 50px;
  }
  .servicio-text {
    flex-basis: 320px;
    text-align: center;
    margin: 20px;
  }
}


/*//////////////////////////////////////////========CONTACT SECTION =========////////////////////////////////////////*/
.contact-title {
  display: block;
  text-align: center;
  margin: 150px auto 50px;
}
.contact-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 50px 32px;
}

.contact-section h4 {
  font-family: var(--font-family-heading);
  text-align: center;
  margin-bottom: 30px;
}

.contact-form {
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 30px;
  background-color: #fff;
}
input:invalid,
textarea:invalid {
  box-shadow: 0 0 5px 1px #dddddd;
}
input:focus:invalid,
textarea:focus:invalid {
  box-shadow: none;
}

.error {
  font-size: 5rem;
  color: red;
}

.error.active {
  padding: 0.3em;
}

.buttonForm {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  background: linear-gradient(90deg, #eeb887, #ec780c);
  border-radius: 12px;
  color: #000;
  font-size: 1.2rem;
  width: 200px;
  height: 40px;
  border: 1px solid #bbbbbb;
  transition: 0.3s;
}
.buttonForm:hover {
  background-image: linear-gradient(
    180deg,
    rgba(209, 209, 209, 1),
    rgba(255, 255, 255, 1)
  );
}

.location img {
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin: 10px auto 20px;
}

@media screen and (max-width: 980px) {
  .location {
    margin-top: 50px;
    justify-content: center;
  }
  .location img {
    width: 350px;
    height: auto;
  }
  .email {
    font-size: 1.5rem;
  }
  .contact {
    justify-content: center;
  }
  .contact-title {
    margin: 50px auto 50px;
  }
}

/*//////////////////////////////////////////////////===== F00TER ======///////////////////////////////////////////////////////////////*/

footer {
  padding: 0px 0px;
}
.cta {
  margin-bottom: 50px;
  background: url("./images/Light Effect.png") no-repeat center;
  padding: 100px;
  width: 100%;
  text-align: center;
}

.cta h4 {
  font-family: var(--font-family-heading);
  font-size: 2rem;
  margin-bottom: 50px;
  line-height: 1.5;
}

.footer form {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.suscribe {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 10px 60px 10px 10px;
  float: left;
  margin-right: 30px;
}

.footer-btn {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: none;
  border-bottom: 5px solid #b46436;
  transition: 0.3s;
  background: linear-gradient(
    90deg,
    rgba(254, 244, 236, 1) 0%,
    rgba(238, 139, 48, 1) 41%
  );
  border-radius: 8px;
  box-shadow: 0 9.686px 9.686px 0 rgba(0, 0, 0, 0.25);
  padding: 10px 50px;
}

.politicas li {
  list-style: none;
}
.list-group-item {
  --bs-list-group-bg: var(--bs-light-rgb);
}
.footer img {
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.footer p {
  font-size: 1.1rem;
}

.mdi--google-maps {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M18.27 6c1.01 2.17.78 4.73-.33 6.81c-.94 1.69-2.29 3.12-3.44 4.69c-.5.7-1 1.45-1.37 2.26c-.13.27-.22.55-.32.83c-.1.28-.19.56-.28.84c-.09.26-.2.57-.53.57c-.39 0-.5-.44-.58-.74c-.24-.73-.48-1.43-.85-2.1c-.42-.79-.95-1.52-1.49-2.23zM9.12 8.42l-3.3 3.92c.61 1.29 1.52 2.39 2.39 3.49c.21.25.42.51.62.78L13 11.67l-.04.01c-1.46.5-3.08-.24-3.66-1.68c-.08-.17-.14-.37-.18-.57a3.05 3.05 0 0 1 0-1zm-2.54-3.8l-.01.01c-1.62 2.05-1.9 4.9-.93 7.31L9.63 7.2l-.05-.05zm7.64-2.26L11 6.17l.04-.01c1.34-.46 2.84.12 3.52 1.34c.15.28.27.58.31.88c.06.38.08.65.01 1.02v.01l3.2-3.8a6.988 6.988 0 0 0-3.85-3.24zM9.89 6.89l3.91-4.65l-.04-.01C13.18 2.08 12.59 2 12 2c-1.97 0-3.83.85-5.15 2.31l-.02.01z'/%3E%3C/svg%3E");
  margin-right: 10px;
}
.carbon--phone-voice-filled {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='black' d='M24 13h-2a3.003 3.003 0 0 0-3-3V8a5.006 5.006 0 0 1 5 5'/%3E%3Cpath fill='black' d='M28 13h-2a7.008 7.008 0 0 0-7-7V4a9.01 9.01 0 0 1 9 9m-7.667 8.482l2.24-2.24a2.167 2.167 0 0 1 2.337-.48l2.728 1.092A2.167 2.167 0 0 1 29 21.866v4.961a2.167 2.167 0 0 1-2.284 2.169C7.594 27.806 3.732 11.61 3.015 5.408A2.162 2.162 0 0 1 5.169 3h4.873a2.167 2.167 0 0 1 2.012 1.362l1.091 2.728a2.167 2.167 0 0 1-.48 2.337l-2.24 2.24s1.242 8.732 9.908 9.815'/%3E%3C/svg%3E");
  margin-right: 10px;
}

.carbon--email {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='black' d='M28 6H4a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2m-2.2 2L16 14.78L6.2 8ZM4 24V8.91l11.43 7.91a1 1 0 0 0 1.14 0L28 8.91V24Z'/%3E%3C/svg%3E");
  margin-right: 10px;
}
.ic--baseline-schedule {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2M12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8s8 3.58 8 8s-3.58 8-8 8'/%3E%3Cpath fill='black' d='M12.5 7H11v6l5.25 3.15l.75-1.23l-4.5-2.67z'/%3E%3C/svg%3E");
  margin-right: 10px;
}
.logos--tiktok-icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 290'%3E%3Cpath fill='%23ff004f' d='M189.72 104.421c18.678 13.345 41.56 21.197 66.273 21.197v-47.53a67.115 67.115 0 0 1-13.918-1.456v37.413c-24.711 0-47.59-7.851-66.272-21.195v96.996c0 48.523-39.356 87.855-87.9 87.855c-18.113 0-34.949-5.473-48.934-14.86c15.962 16.313 38.222 26.432 62.848 26.432c48.548 0 87.905-39.332 87.905-87.857v-96.995zm17.17-47.952c-9.546-10.423-15.814-23.893-17.17-38.785v-6.113h-13.189c3.32 18.927 14.644 35.097 30.358 44.898M69.673 225.607a40.008 40.008 0 0 1-8.203-24.33c0-22.192 18.001-40.186 40.21-40.186a40.313 40.313 0 0 1 12.197 1.883v-48.593c-4.61-.631-9.262-.9-13.912-.801v37.822a40.268 40.268 0 0 0-12.203-1.882c-22.208 0-40.208 17.992-40.208 40.187c0 15.694 8.997 29.281 22.119 35.9'/%3E%3Cpath d='M175.803 92.849c18.683 13.344 41.56 21.195 66.272 21.195V76.631c-13.794-2.937-26.005-10.141-35.186-20.162c-15.715-9.802-27.038-25.972-30.358-44.898h-34.643v189.843c-.079 22.132-18.049 40.052-40.21 40.052c-13.058 0-24.66-6.221-32.007-15.86c-13.12-6.618-22.118-20.206-22.118-35.898c0-22.193 18-40.187 40.208-40.187c4.255 0 8.356.662 12.203 1.882v-37.822c-47.692.985-86.047 39.933-86.047 87.834c0 23.912 9.551 45.589 25.053 61.428c13.985 9.385 30.82 14.86 48.934 14.86c48.545 0 87.9-39.335 87.9-87.857z'/%3E%3Cpath fill='%2300f2ea' d='M242.075 76.63V66.516a66.285 66.285 0 0 1-35.186-10.047a66.47 66.47 0 0 0 35.186 20.163M176.53 11.57a67.788 67.788 0 0 1-.728-5.457V0h-47.834v189.845c-.076 22.13-18.046 40.05-40.208 40.05a40.06 40.06 0 0 1-18.09-4.287c7.347 9.637 18.949 15.857 32.007 15.857c22.16 0 40.132-17.918 40.21-40.05V11.571zM99.966 113.58v-10.769a88.787 88.787 0 0 0-12.061-.818C39.355 101.993 0 141.327 0 189.845c0 30.419 15.467 57.227 38.971 72.996c-15.502-15.838-25.053-37.516-25.053-61.427c0-47.9 38.354-86.848 86.048-87.833'/%3E%3C/svg%3E");
}
.skill-icons--instagram {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='url(%23skillIconsInstagram0)' rx='60'/%3E%3Crect width='256' height='256' fill='url(%23skillIconsInstagram1)' rx='60'/%3E%3Cpath fill='%23fff' d='M128.009 28c-27.158 0-30.567.119-41.233.604c-10.646.488-17.913 2.173-24.271 4.646c-6.578 2.554-12.157 5.971-17.715 11.531c-5.563 5.559-8.98 11.138-11.542 17.713c-2.48 6.36-4.167 13.63-4.646 24.271c-.477 10.667-.602 14.077-.602 41.236s.12 30.557.604 41.223c.49 10.646 2.175 17.913 4.646 24.271c2.556 6.578 5.973 12.157 11.533 17.715c5.557 5.563 11.136 8.988 17.709 11.542c6.363 2.473 13.631 4.158 24.275 4.646c10.667.485 14.073.604 41.23.604c27.161 0 30.559-.119 41.225-.604c10.646-.488 17.921-2.173 24.284-4.646c6.575-2.554 12.146-5.979 17.702-11.542c5.563-5.558 8.979-11.137 11.542-17.712c2.458-6.361 4.146-13.63 4.646-24.272c.479-10.666.604-14.066.604-41.225s-.125-30.567-.604-41.234c-.5-10.646-2.188-17.912-4.646-24.27c-2.563-6.578-5.979-12.157-11.542-17.716c-5.562-5.562-11.125-8.979-17.708-11.53c-6.375-2.474-13.646-4.16-24.292-4.647c-10.667-.485-14.063-.604-41.23-.604zm-8.971 18.021c2.663-.004 5.634 0 8.971 0c26.701 0 29.865.096 40.409.575c9.75.446 15.042 2.075 18.567 3.444c4.667 1.812 7.994 3.979 11.492 7.48c3.5 3.5 5.666 6.833 7.483 11.5c1.369 3.52 3 8.812 3.444 18.562c.479 10.542.583 13.708.583 40.396c0 26.688-.104 29.855-.583 40.396c-.446 9.75-2.075 15.042-3.444 18.563c-1.812 4.667-3.983 7.99-7.483 11.488c-3.5 3.5-6.823 5.666-11.492 7.479c-3.521 1.375-8.817 3-18.567 3.446c-10.542.479-13.708.583-40.409.583c-26.702 0-29.867-.104-40.408-.583c-9.75-.45-15.042-2.079-18.57-3.448c-4.666-1.813-8-3.979-11.5-7.479s-5.666-6.825-7.483-11.494c-1.369-3.521-3-8.813-3.444-18.563c-.479-10.542-.575-13.708-.575-40.413c0-26.704.096-29.854.575-40.396c.446-9.75 2.075-15.042 3.444-18.567c1.813-4.667 3.983-8 7.484-11.5c3.5-3.5 6.833-5.667 11.5-7.483c3.525-1.375 8.819-3 18.569-3.448c9.225-.417 12.8-.542 31.437-.563zm62.351 16.604c-6.625 0-12 5.37-12 11.996c0 6.625 5.375 12 12 12s12-5.375 12-12s-5.375-12-12-12zm-53.38 14.021c-28.36 0-51.354 22.994-51.354 51.355c0 28.361 22.994 51.344 51.354 51.344c28.361 0 51.347-22.983 51.347-51.344c0-28.36-22.988-51.355-51.349-51.355zm0 18.021c18.409 0 33.334 14.923 33.334 33.334c0 18.409-14.925 33.334-33.334 33.334c-18.41 0-33.333-14.925-33.333-33.334c0-18.411 14.923-33.334 33.333-33.334'/%3E%3Cdefs%3E%3CradialGradient id='skillIconsInstagram0' cx='0' cy='0' r='1' gradientTransform='matrix(0 -253.715 235.975 0 68 275.717)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fd5'/%3E%3Cstop offset='.1' stop-color='%23fd5'/%3E%3Cstop offset='.5' stop-color='%23ff543e'/%3E%3Cstop offset='1' stop-color='%23c837ab'/%3E%3C/radialGradient%3E%3CradialGradient id='skillIconsInstagram1' cx='0' cy='0' r='1' gradientTransform='matrix(22.25952 111.2061 -458.39518 91.75449 -42.881 18.441)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%233771c8'/%3E%3Cstop offset='.128' stop-color='%233771c8'/%3E%3Cstop offset='1' stop-color='%2360f' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
.devicon--facebook {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Crect width='118.35' height='118.35' x='4.83' y='4.83' fill='%233d5a98' rx='6.53' ry='6.53'/%3E%3Cpath fill='%23fff' d='M86.48 123.17V77.34h15.38l2.3-17.86H86.48v-11.4c0-5.17 1.44-8.7 8.85-8.7h9.46v-16A126.56 126.56 0 0 0 91 22.7c-13.62 0-23 8.3-23 23.61v13.17H52.62v17.86H68v45.83z'/%3E%3C/svg%3E");
}

@media screen and (max-width: 1024px) {
  .footer img {
    max-width: 400px;
    margin-top: 50px;
  }
  @media screen and (max-width: 580px) {
    .cta h4 {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .footer form {
      border: none;
      border-radius: 0;
      box-shadow: none;
      background-color: initial;
      flex-direction: column;
    }
    .suscribe {
      margin-right: 0px;
      margin-bottom: 10px;
    }
    .politicas {
      margin-bottom: 20px;
      font-size: 0.8rem;
    }
    .footer p {
      font-size: 1rem;
    }
    .footer img {
      max-width: 300px;
    }
  }
}
